.df-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 15px;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  >.tab-item {
    // position: relative;
    // border: 2px solid transparent;
    // border-bottom: none;
    // bottom: -2px;
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    // 合并 border
    &:nth-child(n+2) {
      margin-left: -2px;
    }
    &:hover, &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active, &:hover {
      color: $menu-item-active-color;
    }
  }
}
.tabs-dashed {
  .tab-item {
    &.is-active, &:hover {
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
}
.tabs-extrude {
  .tab-item {
    position: relative;
    border: 2px solid transparent;
    border-bottom: none;
    bottom: -2px;
    &.is-active, &:hover {
      border: 2px solid #eee;
      border-bottom: none;
      background: #fff;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 2px 0 0px #fff;
      z-index: 3;
    } 
  }
}