.alert {
  position: fixed;
  display: block;
  box-sizing: border-box;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 400px;
  min-height: 45px;
  background-color:$blue;
  border-radius: 10px;
  padding: 10px 30px;
  color: #fff;

  & .close {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    transform: translateY(-50%);
    right: 15px;
    color: #fff;
    &:hover {
      background-color: rgba(0,0,0,.3);
    }
  }
}

.alert-success {
  @include alert-style($success)
}

.alert-danger {
  @include alert-style($danger)
}

.alert-warning {
  @include alert-style($warning)
}

.alert-default {
  @include alert-style($primary)
}